body {
    margin: 0
}

header {
    background-color: #ffffff;
}

.full-navbar {
    width: 960px;
    background-color: #ffffff;
    margin: auto; 
}

header::after {
    content: "";
    display: table;
    clear: both;
}

.name {
    float: left;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 10px 10px;
    margin: 0;
}

nav {
    float: right
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 50px;
    padding-top: 18px;
}

nav a {
    color: #cccccc;
    text-decoration: none;
}

.main-block {
    width: 960px;
    background-color: #ffffff;
    margin: auto;
    padding: 30px;
    margin-top: 25px;
    box-sizing: border-box;
}


.heading2 {
    border-bottom: solid 2px #cccccc;
}

.me {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 20px;
}

.content-wrapper1 {
    width: 200px;
    height: 200px;
    position: relative;
    margin: 20px;
}

.pic1 {
    width: 200px;
    height: 200px;
}

#name1 {
    color: #ffffff;
    background-color: #4aaaa5;
    position: absolute;
    width: 200px;
    top: 50%
}

.content-wrapper2 {
    width: 200px;
    height: 200px;
    position: relative;
    margin: 20px;
}

.pic2 {
    width: 200px;
    height: 200px;
}

#name2 {
    color: #ffffff;
    background-color: #4aaaa5;
    position: absolute;
    width: 200px;
    top: 50%
}

.content-wrapper3 {
    width: 200px;
    height: 200px;
    position: relative;
    margin: 20px;
}

.pic3 {
    width: 200px;
    height: 200px;
}

#name3 {
    color: #ffffff;
    background-color: #4aaaa5;
    position: absolute;
    width: 200px;
    top: 50%
}

footer {
    background-color:#666666;
    margin: auto;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 40px 0 0 0;
    color: #ffffff;
    border-top: solid 6px #4aaaa5;
}

@media screen and (max-width: 980px) {
    .main-block {
        width: 100%; 
    }
}

@media screen and (max-width: 768px) {
    .main-block {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .main-block {
        width: 100%;
        margin-bottom: 30px;
    }

    .full-navbar {
        width: 100%;
        margin: 0;
        padding: 0;
        position: static
    }

    .name {
        width: 100%;
    }

    .navbar {
        margin: auto;
    }

    footer {
        position: static;
        bottom: 0;
        left: 0;
        margin-top: 10px;
        width: 100%;
    }

}